node_modules/

index.js
index.*map
index.d.ts
index.mjs

payloads/**/*.js
payloads/**/*.map
payloads/**/*.d.ts
payloads/**/*.mjs

rest/**/*.js
rest/**/*.map
rest/**/*.d.ts
rest/**/*.mjs

utils/**/*.js
utils/**/*.map
utils/**/*.d.ts
utils/**/*.mjs